@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans&display=swap");

/* Maintains header, body, footer structure */
#root {
  background-color: #343d52;
}

/* No base padding or margin on any elements */
* {
  margin: 0;
  padding: 0;
}

/* Makes rem measurements easier to use */
html {
  font-size: 62.5%;
}

div.section {
  min-height: calc(100vh - 8rem);
  /* border: 2px solid blue; */
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* border: 2px solid white; */
}

@media only screen and (min-width: 600px) {
  /* For desktop: */

  h1.section-header {
    color: white;
    font-size: 7rem;
    font-family: "Michroma", sans-serif;
    text-align: center;
  }

  /* Nav Section */
  header {
    display: flex;
    top: 0;
    backdrop-filter: blur(8px);
    width: 100%;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    position: sticky;
  }

  nav {
    display: flex;
    /* border: 2px solid red; */
    margin-right: 7rem;
  }

  header img {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    margin-left: 7rem;
  }

  div.link {
    text-align: center;
    /* border: 2px solid green; */
    margin: 0 3rem;
  }

  div.link a {
    color: white;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
  }

  /* Footer Section */
  footer {
    display: flex;
    background: #263238;
    min-height: 30rem;
    margin-top: 4rem;
  }

  div#logo-name-container {
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    width: 50%;
    justify-content: right;
    margin-right: 3rem;
  }

  img#footer-logo {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    margin-right: 1rem;
  }

  p#footer-name {
    color: white;
    font-family: "Michroma", sans-serif;
    font-size: 4rem;
  }

  div#contact-links-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 3rem;
  }

  div#contact-links-container a {
    display: flex;
    flex: 1;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: "Open-Sans", sans-serif;
    font-size: 1.5rem;
  }

  footer svg {
    color: white;
    margin-right: 1rem;
  }

  /* About Section */
  div#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 20rem);
  }

  h1#about-name {
    color: white;
    font-family: "Michroma", sans-serif;
    font-size: 10rem;
    text-align: center;
  }

  p#about-description {
    color: white;
    text-align: center;
    font-size: 2rem;
  }

  /* Project Section  */
  div#project-card-background {
    width: 35%;
    min-height: 40rem;
    margin: 4rem auto;
    padding: 3rem 0;
    border-radius: 5%;
  }

  div#project-card-background:hover {
    transform: scale(1.1);
    background-color: rgb(132, 104, 90, 0.3);
  }

  div#project-card {
    width: 90%;
    margin: 0 auto;
    background: #263238;
    border-radius: 5%;
    padding: 1rem 0;
  }

  div#header-date-container {
    display: flex;
    justify-content: space-between;
  }

  h1#project-card-title {
    color: white;
    font-family: "Michroma", sans-serif;
    font-size: 2rem;
    margin-left: 1.5rem;
  }

  h2#project-card-subtitle {
    color: white;
    font-family: "Michroma", sans-serif;
    font-size: 2rem;
    margin-left: 1.5rem;
  }

  p#project-card-date {
    color: white;
    font-family: "Michroma", sans-serif;
    font-size: 1rem;
    margin-right: 1.5rem;
  }

  h3#project-card-job-title {
    color: white;
    font-family: "Michroma", sans-serif;
    font-size: 1rem;
    margin-left: 1.5rem;
  }

  img#project-card-img {
    display: block;
    width: 90%;
    height: auto;
    margin: 2rem auto;
  }

  p#project-card-description {
    color: white;
    font-family: "Open-Sans", sans-serif;
    font-size: 1.5rem;
    margin: 0 1.5rem;
    padding-bottom: 1rem;
  }

  div#project-card-links {
    display: flex;
    margin-left: 1.5rem;
  }

  div#project-card-links svg {
    color: #84685a;
    margin-right: 0.5rem;
  }

  div#project-card-links a {
    color: #84685a;
    text-decoration: none;
    font-family: "Open-Sans", sans-serif;
    font-size: 1.5rem;
  }

  div#project-card-links a {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
}
